#formulario{
    margin-left: 5%;
    margin-top: 2%;
    width: 40%;
}
body{
    background-image: url("https://cdn.crello.com/api/media/medium/190885582/stock-photo-books-stacked-mess-white-table");
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: 70%;
}
footer {
    text-align: left;
    background-color: transparent;
    position: absolute;
    bottom: 0;
    width: 80%;
    height: 3px;
    color: white;
    right: 0;
    margin-bottom: 3px;
}
